<div class="row">
  <div class="row">
    <div class="col-xs-4">
      <h1>Аудитории</h1>
    </div>
    <div class="col-xs-8 actions">
      <%= link_to "Добавить аудиторию", new_manage_place_path, class: "btn btn-success" %>
      <%= link_to "Управление температурой", manage_date_temps_path, class: "btn btn-success" %>
    </div>
  </div>
  <% @places.each do |place| %>
  <div class="places_list panel panel-default panel-body">
    <div class="col-xs-10 number"><%= place.number %></div>
    <div class="col-xs-1"><%= link_to 'Изменить', edit_manage_place_path(place), class: "btn btn-primary" %></div>
    <div class="col-xs-1"><%= link_to 'Удалить', manage_place_path(place), method: :delete, class: "btn btn-danger", data: { confirm: "Удалить аудиторию?" } %></div>
  </div>
<% end %>
</div>
