<div class="col-xs-12 temperature_table">
  <%= simple_form_for [:manage, @date_temp], html: { class: "date_temp_form" } do |f| %>
    <%= f.error_notification %>
    <%= f.input :date_title %>
    <table>
      <thead>
        <tr>
          <th>Аудитория</th>
          <th>Температура (&deg;С)</th>
        </tr>
      </thead>
      <tbody>
        <%= f.simple_fields_for :temps do |p| %>
          <tr>
            <td>
              <%= p.label "#{p.object.place.number}" %>
            </td>
            <td>
              <%= p.input :place_id, as: :hidden, input_html: { value: p.object.place.id } %>
              <%= p.input :temperature, label: false %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= f.submit class: "btn btn-success" %>
      <%= link_to 'назад', f.object.new_record? ? manage_date_temps_path : manage_date_temp_path(f.object), class: 'btn btn-default' %>
    </p>
  <% end %>
</div>
