<!DOCTYPE HTML>
<html lang='<%= I18n.locale %>'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Киоск УЛК</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'public/application', media: 'all' %>
    <%= javascript_include_tag 'public/application' %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5.js' %>
    <%= javascript_include_tag 'respond.js' %>
    <![endif]-->
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag    'stop_ie/application' %>
    <%= javascript_include_tag 'stop_ie/application' %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%#= meta_tags %>
  </head>
  <body>
    <nav class='navbar'>
      <div class='navbar-right'>
        <p class='date-week-time'>
          <span class='date'></span>
          <span class='week'></span>
          <span class='time'></span>
        </p>
      </div>
      <div class='image-container'>
        <%= link_to image_tag('tusur-white.png', class: 'brand-image'), root_path %>
      </div>
    </nav>
    <div class='page_wrapper container'>
      <%= yield %>
    </div>
  </body>
</html>
