<!DOCTYPE html>
<html>
  <head>
    <title>Киоск УЛК</title>
    <%= stylesheet_link_tag    'manage/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'manage/application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'navigation' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
