<!DOCTYPE html>
<html>
  <head>
    <title>Киоск УЛК</title>
    <%= stylesheet_link_tag    'manage/application', media: 'all' %>
    <%= javascript_include_tag 'manage/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <%= render 'navigation' %>
    <div class="container manage">
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
